body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #2B71CA, #a46582, #f05a41);

}

.tela { display: none; }
.tela.ativa { display: block; text-align: center; }

.title-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 2rem;
}

#btn-iniciar {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #f05a41;
    color: white;
    border: none;
    border-radius: 0.5rem;
}

#btn-iniciar:hover {
    background-color: #0C2340;
    color: white;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}


#tela-jogo {
    display: none; /* Será ativada via JS */
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#descricoes-container, #etapas-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.descricao {
    padding: 0.625rem;
    background-color: #ffffff;
    border: 2px dashed #cccccc;
    cursor: grab;
    width: 10rem;
    text-align: center;
}

.etapa {
    text-align: center;
}

.dropzone {
    min-width: 11rem;
    min-height: 5rem;
    height: auto;
    width: auto;
    background-color: #f0f0f0;
    border: 2px dashed #999;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

/* Feedback Visual */
.dropzone.correto {
    border-color: #28a745;
    background-color: #d4edda;
}

.dropzone.incorreto {
    border-color: #dc3545;
    background-color: #f8d7da;
}

.dropzone.hover {
    background-color: #e2e6ea;
    border-style: solid;
}